<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>Copyright 2018 Avnet Inc</p>
      </div>
    </div>
  </footer>
</template>

<style scoped>
  .footer {
    background-color: #363636;
    color: white;
    padding: 48px 24px;
  }

</style>
