<template>
  <div class="component" :class="{ levelHeight: blok.level }" v-editable="blok">
    <div class="card" :class="{ levelHeight: blok.level }">
      <div class="card-image">
        <figure class="image is-4by3" v-if="blok.image">
          <img :src="blok.image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ blok.title }}</p>
            <p class="subtitle is-6">{{ blok.subtitle }}</p>
          </div>
        </div>
        <div class="content" v-html="blok.body.content"></div>
      </div>
      <footer class="card-footer" v-if="blok.label">
        <a :href="blok.link.cached_url" class="card-footer-item">{{ blok.label }}</a>
      </footer>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>

<style scoped>
  .card {
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    margin-top: auto;
  }

  .component.levelHeight {
    height: 100%;
  }

  .card.levelHeight {
    height: 100%;
  }

</style>
