<template>
  <div v-editable="blok">
    <no-ssr>
      <siema ref="siema" class="siema is-hidden-mobile" :options="options" :auto-play="true">
        <component :key="blok._uid" v-for="blok in blok.slides" :blok="blok" :is="blok.component"></component>
      </siema>
    </no-ssr>
  </div>
</template>

<script>
  export default {
    props: ['blok'],
    data() {
      return {
        options: {
          draggable: false,
          loop: true
        }
      }
    }
  }

</script>
