<template>
  <div class="column" :class="blok.width" v-editable="blok">
    <component :key="blok._uid" v-for="blok in blok.body" :blok="blok" :is="blok.component"></component>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
