<template>
  <div class="component" v-editable="blok">
    <div class="content" v-html="blok.body.content" :class="{ box: blok.box }"></div>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
