<template>
  <div v-editable="blok">
    <section class="hero" :class="blok.color">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ blok.title }}
          </h1>
          <h2 class="subtitle">
            {{ blok.subtitle }}
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
