<template>
  <div class="component" v-editable="blok">
    <a :href="blok.link.cached_url">
      <div :class="{ box: blok.box }">
        <figure class="image">
          <img :src="blok.image" />
        </figure>
      </div>
    </a>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
