<template>
  <div>
    <div class="component levelHeight">
      <div class="card levelHeight">
        <div class="card-image">
          <figure class="image is-4by3">
            <img :src="part.content.image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ part.content.title }}</p>
            </div>
          </div>
          <div class="content">{{ part.content.intro }}</div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" :href="link">Learn More</a>
          <a class="card-footer-item" :href="part.content.buyLink.cached_url" target="_blank">Buy Now</a>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['part'],
    computed: {
      link: function () {
        let slug = this.part.name
        slug = slug.toLowerCase()
        return '/products/' + slug
      }
    }
  }

</script>
