<template>
  <div class="container" v-editable="blok">
    <section :class="{ [`section`]: blok.section}">
      <div class="columns" :class="{ [`is-centered`]: blok.centered}">
        <component :key="blok._uid" v-for="blok in blok.columns" :blok="blok" :is="blok.component"></component>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
