<template>
  <div class="component" v-editable="blok">
    <article class="tile notification" :class="blok.color">
      <div class="content">
        <p class="title is-4">{{ blok.title }}</p>
        <p class="subtitle is-6">{{ blok.subtitle }}</p>
        <div class="content">
          <div class="tile-content" v-html="blok.body.content"></div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
  export default {
    props: ['blok']
  }

</script>
