<template>
  <nav class="navbar is-dark">

    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="~/assets/images/avnet_logo.png" alt="Zedboard" />
      </div>
      <div class="navbar-burger burger" data-target="zedboardNavbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="zedboardNavbar" class="navbar-menu">
      <div class="navbar-start">
        <template v-for="(navitem, index) in $store.state.main_nav.main">
          <!-- Top Level ONLY navigation items -->
          <a class="navbar-item has-text-primary" v-if="navitem.sub_menu.length == 0" :key="index" :href="topLink(navitem.link.cached_url)">
            {{ navitem.title }}
          </a>
          <!-- Nested Navigation Items -->
          <div class="navbar-item has-dropdown is-hoverable" v-if="navitem.sub_menu.length > 0" :key="index">
            <a class="navbar-link has-text-primary" :href="navitem.link.cached_url">
              {{ navitem.title }}
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" v-for="(navitem, index) in navitem.sub_menu" :key="index" :href="'/' + navitem.link.cached_url">
                {{ navitem.title }}
              </a>
            </div>
          </div>
        </template>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary is-outlined" href="#">
                <span>Login</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary is-outlined" href="#">
                <span>Register</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </nav>
</template>

<script>
  export default {
    methods: {
      topLink: function (url) {
        if (url == '/') {
          return url
        } else {
          return '/' + url
        }
      }
    },
    mounted: function () {
      // Toggle Hamburger Menu
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    }
  }

</script>
