@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// customize styles
$primary: #41c363;
$link: $primary !default;
$link-invert: #fff !default;
$link-focus-border: $primary !default;

@import '~bulma';