<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ story.content.title }}
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <section class="section" v-editable="story.content">
        <div class="tabs is-boxed">
          <ul>
            <li id="details" class="is-active">
              <a @click="clickTab('details')">
                <span class="icon is-small">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
                <span>Details</span>
              </a>
            </li>
            <li id="docs">
              <a @click="clickTab('docs')">
                <span class="icon is-small">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </span>
                <span>Documentation</span>
              </a>
            </li>
            <li id="images">
              <a @click="clickTab('images')">
                <span class="icon is-small">
                  <i class="fa fa-file-image-o" aria-hidden="true"></i>
                </span>
                <span>Images</span>
              </a>
            </li>
            <li id="tech">
              <a @click="clickTab('tech')">
                <span class="icon is-small">
                  <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                </span>
                <span>Technical Specifications</span>
              </a>
            </li>
            <li id="videos">
              <a @click="clickTab('videos')">
                <span class="icon is-small">
                  <i class="fa fa-video-camera" aria-hidden="true"></i>
                </span>
                <span>Videos</span>
              </a>
            </li>
            <li id="related">
              <a @click="clickTab('related')">
                <span class="icon is-small">
                  <i class="fa fa-microchip" aria-hidden="true"></i>
                </span>
                <span>Related Parts</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- Content Section -->
        <div class="tabContent">
          <!-- Details -->
          <div id="content-details">
            <div class="columns">
              <div class="column is-4">
                <p class="image">
                  <img :src="image" alt="">
                </p>
                <nav class="panel">
                  <p class="panel-heading">
                    What's Included?
                  </p>
                  <p class="panel-block" v-for="item in story.content.included" :key="item._uid">
                    <span class="panel-icon">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    {{ item.text }}
                  </p>
                  <div class="panel-block">
                    <a class="button is-primary is-fullwidth" :href="story.content.buyLink.cached_url">
                      Buy Now
                    </a>
                  </div>
                </nav>
              </div>
              <div class="column is-6">
                <div v-html="description"></div>
              </div>
            </div>
          </div>
          <!-- Documentation -->
          <div id="content-docs" class="hidden">
            <div class="columns">
              <div class="column is-6">
                <nav class="panel" v-for="cat in story.content.documentation" :key="cat._uid">
                  <p class="panel-heading">
                    {{ cat.title }}
                  </p>
                  <a class="panel-block" :href="doc.file" target="_blank" v-for="doc in cat.items" :key="doc._uid">
                    <span class="panel-icon">
                      <i class="fa fa-file-pdf-o" aria-hidden="true" v-if="doc.type == 'pdf'"></i>
                      <i class="fa fa-file-archive-o" aria-hidden="true" v-if="doc.type == 'zip'"></i>
                    </span>
                    {{ doc.title}}
                  </a>
                </nav>
              </div>
            </div>
          </div>
          <!-- Images -->
          <div id="content-images" class="hidden">
            <div class="columns">
              <div class="column is-2" v-for="image in story.content.images" :key="image._uid">
                <div class="box">
                  {{ image.title }}
                  <a class="image is-3by2" @click="showModal(image._uid)">
                    <img :src="image.thumbnail" alt="">
                  </a>
                  <!-- Image Modal -->
                  <div :id="image._uid" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                      <p class="image">
                        <img :src="image.full" alt="">
                      </p>
                    </div>
                    <button class="modal-close is-large" aria-label="close" @click="closeModal(image._uid)"></button>
                  </div>
                  <!-- End Image Modal -->
                </div>
              </div>
            </div>
          </div>
          <!-- Technical Specifications -->
          <div id="content-tech" class="hidden">
            <div class="columns">
              <div class="column is-6">
                <nav class="panel" v-for="cat in story.content.technicalSpecs" :key="cat._uid">
                  <p class="panel-heading">
                    {{ cat.title }}
                  </p>
                  <p class="panel-block" v-for="doc in cat.items" :key="doc._uid">
                    <span class="panel-icon">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    {{ doc.text}}
                  </p>
                </nav>
              </div>
            </div>
          </div>
          <!-- Videos -->
          <div id="content-videos" class="hidden">
            <no-ssr>
              <script src='//players.brightcove.net/4598493563001/BkZJhSKu_default/index.min.js'></script>
            </no-ssr>
            <div class="columns">
              <div class="column is-3" v-for="video in story.content.videos" :key="video._uid">
                <div style="position: relative; display: block; max-width: 100%;">
                  <div style="padding-top: 56.25%;">
                    <video :data-video-id="video.video_id" data-account="4598493563001" data-player="BkZJhSKu" data-embed="default" data-application-id
                      class="video-js" controls style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    </video>
                  </div>
                </div>
              </div>
              <div class="column" v-if="story.content.videos.length == 0">
                <div class="section has-text-centered">
                  No Videos Available
                </div>
              </div>
            </div>
          </div>
          <!-- Related Products -->
          <div id="content-related" class="hidden">
            <div class="columns">
              <div class="column is-3" v-for="part in relatedParts" :key="part._uuid">
                <related-parts :part="part" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      image() {
        return (this.story.content.image)
      },
      description() {
        return (this.story.content.description.content)
      },
      metaTitle() {
        if(typeof this.story.content.meta == 'undefined'){
          return 'Zedboard | Avnet'
        } else {
          return 'Zedboard | ' + this.story.content.meta.title
        }
      },
      metaDesc() {
        if(typeof this.story.content.meta == 'undefined'){
          return ''
        } else {
          return this.story.content.meta.description
        }
      }
    },
    mounted() {
      this.$storyblok.init()
      this.$storyblok.on('change', () => {
        location.reload(true)
      })
      this.$storyblok.on('published', () => {
        location.reload(true)
      })
    },
    head() {
      return {
        title: this.metaTitle,
        meta: [{
          hid: 'description',
          name: 'description',
          content: this.metaDesc
        }]
      }
    },
    async asyncData(context) {

      let getStory = function (context) {
        let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
        let endpoint = `cdn/stories/products/${context.params.slug}`
        return context.app.$storyapi.get(endpoint, {
          version: version
        }).then((res) => {
          return res
        }).catch((p) => {
          context.error({
            statusCode: p.response.status,
            message: p.response.data
          })
        })
      }

      let getRelatedParts = function (context, related) {
        let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
        let endpoint = 'cdn/stories'
        let uuids = []
        let rp = related.data.story.content.relatedParts
        for (var i = 0; i < rp.length; i++) {
          uuids.push(rp[i])
        }
        return context.app.$storyapi.get(endpoint, {
          version: version,
          starts_with: 'products',
          by_uuids: uuids.join()
        }).then((res) => {
          return res
        }).catch((p) => {
          context.error({
            statusCode: p.response.status,
            message: p.response.data
          })
        })
      }

      let page = await getStory(context)
      let related = await getRelatedParts(context, page)
      return {
        story: page.data.story,
        relatedParts: related.data.stories
      }

    },

    methods: {
      clickTab: function (tab) {
        let activeTab = document.getElementsByClassName('is-active')[0]
        activeTab.classList.remove('is-active')
        document.getElementById('content-' + activeTab.id).classList.add('hidden')
        document.getElementById(tab).classList.add('is-active')
        document.getElementById('content-' + tab).classList.remove('hidden')
      },
      showModal: function (id) {
        document.getElementById(id).classList.add('is-active')
      },
      closeModal: function (id) {
        document.getElementById(id).classList.remove('is-active')
      }
    }
  }

</script>

<style scoped>
  .hidden {
    display: none
  }

  .tabContent {
    margin: 20px;
  }

  .panel,
  .button {
    margin-top: 20px;
  }

</style>
