<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Products
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <div v-for="product in data.stories" :key="product.content._uid">
        <section class="section">
          <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img :src="product.content.image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-4">{{ product.content.title }}</p>
              </div>
              <div class="content" v-html="product.content.intro"></div>
              <nuxt-link class="blog__detail-link" :to="'/' + product.full_slug">
                <p class="button is-primary">Learn More</p>
              </nuxt-link>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    head() {
      return {
        title: 'ZedBoard | Products',
        meta: [{
          hid: 'description',
          name: 'description',
          'content': 'ZedBoard products listing'
        }]
      }
    },
    asyncData(context) {
      let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
      return context.app.$storyapi.get('cdn/stories', {
        version: version,
        starts_with: 'products'
      }).then((res) => {
        return res
      }).catch((res) => {
        context.error({
          statusCode: res.response.status,
          message: res.response.data
        })
      })
    }
  }

</script>
