<template>
  <div>
    <top-header/>
    <nuxt/>
    <bottom-footer/>
  </div>
</template>

<script>
  import TopHeader from '~/components/TopHeader.vue'
  import BottomFooter from '~/components/BottomFooter.vue'

  export default {
    components: {
      TopHeader,
      BottomFooter
    }
  }

</script>

<style>
  .component {
    padding: 20px 10px;
  }

</style>
