<template>
  <div>
    <component v-if="story.content.component" :key="story.content._uid" :blok="story.content" :is="story.content.component"></component>
  </div>
</template>

<script>
  export default {
    mounted() {
      if (this.$storyblok.inEditor) {
        this.$storyblok.init()
        this.$storyblok.on('change', () => {
          location.reload(true)
        })
      }
    },
    head() {
      return {
        title: this.metaTitle,
        meta: [{
          hid: 'description',
          name: 'description',
          content: this.metaDesc
        }]
      }
    },
    computed: {
      metaTitle() {
        if(typeof this.story.content.meta == 'undefined'){
          return 'Zedboard | Avnet'
        } else {
          return this.story.content.meta.title
        }
      },
      metaDesc() {
        if(typeof this.story.content.meta == 'undefined'){
          return ''
        } else {
          return this.story.content.meta.description
        }
      }
    },
    asyncData(context) {
      let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
      return context.app.$storyapi.get(`cdn/stories/${context.params.slug}`, {
        version: version
      }).then((res) => {
        return res.data
      }).catch((res) => {
        context.error({
          statusCode: res.response.status,
          message: res.response.data
        })
      })
    }
  }

</script>
