<template>
  <div>
    <component v-if="story.content.component" :key="story.content._uid" :blok="story.content" :is="story.content.component"></component>
  </div>
</template>

<script>
  export default {
    mounted() {
      if (this.$storyblok.inEditor) {
        this.$storyblok.init()
        this.$storyblok.on('change', () => {
          location.reload(true)
        })
      }
    },
    asyncData(context) {
      let version = context.query._storyblok || context.isDev ? 'draft' : 'published'
      return context.app.$storyapi.get('cdn/stories/home', {
        version: version
      }).then((res) => {
        return res.data
      }).catch((res) => {
        context.error({
          statusCode: res.response.status,
          message: res.response.data
        })
      })
    }
  }

</script>
